<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty
            scope="context"
            name="applicationName"
            source="spring.application.name"
            defaultValue="talent-recruitment-api"/>

    <appender name="JSON_CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>

                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <loggerName>
                    <fieldName>logger_name</fieldName>
                </loggerName>

                <threadName>
                    <fieldName>thread_name</fieldName>
                </threadName>

                <message>
                    <fieldName>message</fieldName>
                </message>

                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>

            </providers>

        </encoder>

    </appender>


    <appender name="JSON_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/talent-recruitment.log</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>
                logs/talent-recruitment.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>

            <maxFileSize>10MB</maxFileSize>

            <maxHistory>30</maxHistory>

            <totalSizeCap>500MB</totalSizeCap>

        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>

                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <loggerName>
                    <fieldName>logger_name</fieldName>
                </loggerName>

                <threadName>
                    <fieldName>thread_name</fieldName>
                </threadName>

                <message>
                    <fieldName>message</fieldName>
                </message>

                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>

            </providers>

        </encoder>

    </appender>


    <root level="INFO">

        <appender-ref ref="JSON_CONSOLE"/>

        <appender-ref ref="JSON_FILE"/>

    </root>

</configuration>